<form class="" action="/create" method="post">
  <label for="my_tamagotchi">give your tamagotchi a name</label>
  <input type="text" name="my_tamagotchi">
  <button type="button" name="button">create</button>
</form>
